# Archivos de Python 
__pycache__/
*.py[cod]
*$py.class

# Archivos de PyInstaller 
build/
dist/
*.spec

# Ejecutables 
*.exe
*.dll
*.so
*.dylib

# Archivos de prueba locales 
*.aes
archivo_recuperado.*

# Configuraciones locales 
.vscode/
.idea/
*.swp